<!doctype html>
<html lang="en-US" class="loading">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>${project}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="cordova.js"></script>
    <script data-curl-run="bundle.js,run.js" src="bower_components/curl/src/curl.js"></script>
</head>
<body>
<p id="errout" style="display:none"></p>
</body>
</html>
