<%
def uncapitalize(s) { s[0].toLowerCase() + s[1..-1]}
%><section class="controller-section">
    <header class="topcoat-navigation-bar bar">
        <div class="topcoat-navigation-bar__item center full">
            <h1 class="topcoat-navigation-bar__title">Controller List</h1>
        </div>
    </header>

    <div class="topcoat-list" style="margin-bottom: 4em">
        <ul class="topcoat-list__container"><%
        className.each {
        def controllerClassNameLowerCase = it.toLowerCase()
        def uncapitalizedClassName = uncapitalize(it)    
        if (controllerClassNameLowerCase != 'platformtools' && controllerClassNameLowerCase != 'dbdoc'
        && controllerClassNameLowerCase != 'app') {
        %>
            <li class="topcoat-list__item center ${uncapitalizedClassName}">${it}</li><%}}%>
        </ul>
    </div>

    <footer class="topcoat-tab-bar full bottom">
        <div class="topcoat-tab-bar__item center full">
            <p>Powered by us (<a href="mailto:th33musk3t33rs@gmail.com">th33musk3t33rs@gmail.com</a>)</p>
        </div>
    </footer>
</section>
