<%
def uncapitalize(s) { s[0].toLowerCase() + s[1..-1]}
classNameLowerCase = uncapitalize(className)
projectName = project.toLowerCase()
%><!DOCTYPE html>    
<html data-debug>
<head>
    <title>${className}</title>
    <script src="bower_components/rave/rave.js"></script>
    <link href="css/topcoat-mobile-light.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-bard>


<section>
</section>


</body>
</html>