<section data-path="todos">
<div class="topcoat-navigation-bar bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">MyTodo</h1>
    </div>
</div>


<div class="topcoat-button-list center" style="margin:2em auto;max-width: 25em">
    <input type="search" value="" placeholder="search" class="topcoat-search-input"><br/> <br/><br/>
    <div data-list class="topcoat-button-list__item">
        <button class="topcoat-button-list__button" name="description"></button>
    </div>
</div>

<div class="topcoat-navigation-bar bar bottom">
    <div class="topcoat-navigation-bar__item center full">
        <button class="topcoat-button"><a href="domain_create_mockup.html">Add</a></button>
    </div>
</div>
</section>
